@import "color.scss";

.backCard {
  overflow: hidden;
  min-height: 20vh;
  position: relative;
  width: 200px;

  img {
    width: 100%;
  }

  .cvv2 {
    color: $white;
    font-size: 1rem;
    letter-spacing: 1px;
    opacity: 0.8;
    position: absolute;
    right: 12%;
    top: 34%;
  }
}

@media screen and (min-width: 390px) {
  .backCard {
    width: 22rem;

    .cvv2 {
      top: 37%;
    }
  }
}

@media screen and (min-width: 490px) {
  .backCard {
    width: 26rem;

    .cvv2 {
      top: 37%;
    }
  }
}

@media screen and (min-width: 600px) {
  .backCard {
    width: 33rem;
  }
}
