@import "color.scss";

.frontCard {
  border-radius: 8px;
  position: relative;
  width: 200px;
  z-index: 999;

  .mainBg {
    width: 100%;
  }

  .logo {
    left: 7%;
    position: absolute;
    top: 10%;
    width: 3.5rem;
  }

  .bottom {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    position: absolute;
    left: 7%;
    bottom: 10%;

    .cardNumber {
      color: $light-grayish-violet;
      font-size: 0.8rem;
      letter-spacing: 3px;
      word-spacing: 0.5px;
    }

    div {
      display: flex;
      justify-content: space-between;

      .cardHolderName,
      .date {
        color: $light-grayish-violet;
        font-size: 0.7rem;
        letter-spacing: 0.7px;
        opacity: 0.9;
        text-transform: uppercase;
      }
    }
  }
}

@media screen and (min-width: 390px) {
  .frontCard {
    width: 22rem;
  }
}

@media screen and (min-width: 490px) {
  .frontCard {
    width: 26rem;

    .logo {
      width: 4.5rem;
    }

    .bottom {
      .cardNumber {
        font-size: 1.1rem;
        word-spacing: 3px;
      }

      div {
        column-gap: 9rem;
        .cardHolderName,
        .date {
          font-size: 0.9rem;
        }
      }
    }
  }
}

@media screen and (min-width: 600px) {
  .frontCard {
    width: 33rem;

    .logo {
      width: 6rem;
    }

    .bottom {
      .cardNumber {
        font-size: 1.4rem;
        word-spacing: 3px;
      }

      div {
        column-gap: 11rem;
        .cardHolderName,
        .date {
          font-size: 1.2rem;
        }
      }
    }
  }
}
